<mat-toolbar class="topbar">
  <a
    mat-button
    class="home-link"
    href="https://www.softwacky.com"
  >
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>

  <span class="topbar__spacer"></span>

  <div class="topbar__actions">
    <button
      mat-button
      type="button"
      [matMenuTriggerFor]="selectionMenu"
    >
      <span>Selection</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <button
      mat-button
      type="button"
      [attr.aria-label]="'Image size: ' + selectedImageSize() + ' pixels'"
      [matMenuTriggerFor]="imageSizeMenu"
    >
      <span>Size {{ selectedImageSize() }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu
  #selectionMenu="matMenu"
  class="topbar-menu-panel"
>
  <button
    mat-menu-item
    type="button"
    (click)="onShuffle()"
  >
    <mat-icon>shuffle</mat-icon>
    <span>Shuffle</span>
  </button>

  <button
    mat-menu-item
    type="button"
    [matMenuTriggerFor]="collectionSizeMenu"
  >
    <span>Collection size</span>
  </button>
</mat-menu>

<mat-menu
  #collectionSizeMenu="matMenu"
  class="topbar-menu-panel"
>
  @for (size of collectionSizeOptions; track size) {
    <button
      mat-menu-item
      type="button"
      (click)="setCollectionSize(size)"
    >
      <span>{{ size }}</span>
    </button>
  }
</mat-menu>

<mat-menu
  #imageSizeMenu="matMenu"
  class="topbar-menu-panel"
>
  @for (size of imageSizeOptions; track size) {
    <button
      mat-menu-item
      type="button"
      (click)="setImageSize(size)"
    >
      <span>{{ size }}</span>
    </button>
  }
</mat-menu>

<main class="container">
  <image-carousel
    [images]="images()"
    ariaLabel="Sample trip photos"
    (selectionChange)="onSelectionChange($event)"
  ></image-carousel>

  <selection-details
    [image]="selectedImage()"
    [index]="selectedIndex()"
  ></selection-details>
</main>
